* {
  box-sizing: border-box;
}
html {
  font-size: 1em;
  font-family: 'Raleway';
  background-color: #262626;
  color: #d9d9d9;
}
body {
  margin: 0;
}

a:visited {
  text-decoration: none;
  cursor: pointer;
  color: #EA3556;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: #EA3556;
}
img {
  max-width: 100%;
  height: auto;
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Roboto Condensed', sans-serif;
  line-height: 1.313em;
}
h1 {
  font-size: 3em;
  margin: 0.563em 0;
}
h2 {
  font-size: 2.25em;
  margin: 0.625em 0;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
}
h3 {
  font-size: 1.5em;
  margin: 1.313em 0;
  display: inline-block;
  margin: 1em 1em;
}
h4 {
  font-size: 1.313em;
  margin: 1.313em 0;
}
h5 {
  font-size: 1.125em;
  margin: 1.313em 0;
  display: inline-block;
  margin: .2em 1em;
}
h6 {
  font-size: 1em;
  margin: 0.75em 0;
}
.topImg{
  height: 100%;
  width: 100%;
  margin: 0;
}
.pinkText{
  color: #EA3556;
}
.blueText{
  color: #61D2D6;
}
.topBanner{
    background: linear-gradient(
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0)
    ),
  url('img/bg.png');
  background-attachment: fixed;
  background-position: center;
  height: 36em;
  text-align: center;
  padding: 2em;

}
.content {
  font-size: 1.5rem;
  color: #262626;
  background-size: 49% auto;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.separator {
  font-size: 1.5rem;
  padding: .1em 0;
  text-align: center;
}
.right {
  padding: 1.618em 6.472em 3.236em 50%;
  background-position: 0 50%;
  background-size: contain;
}
.illustration_01 {
  background-color: #EDE5E2;
  background-image: url("img/map.svg");
}
.illustration_03 {
  background-color: #EDE5E2;
  background-image: url("img/deer.svg");
  background-size: 40%;
}
.icon{
  margin: 1em;
  height: 3em;
}
.left {
  padding: 1.618em 50% 3.236em 6.472em;
  background-position: 110% 10%;
  background-size: 40% contain;
}
.illustration_02 {
  background-color: #262626;
  color: #EDE5E2;
  background-image: url("img/tattoo.svg");
}
.fa{
  margin-right: .2em;
  cursor: pointer;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

.fa:hover {
  -webkit-transform:scale(1.2);
  transform:scale(1.2);
}

#smallIcons{
  display: none;
}


@media only screen and (max-width: 1105px) {
  #largeIcons{
    display: none;
  }
  #smallIcons{
  display: inline-block;
  }
}

@media only screen and (max-width: 855px) {
  #largeIcons{
    display: none;
  }
  #smallIcons{
  display: inline-block;
  }
  .illustration_01 {
    background-image: none;
  }
  .illustration_02 {
    background-image: none;
  }
  .illustration_03 {
    background-image: none;
  }
  h5{
    font-size: 1em;
  }
  #map{
    background-image: url("img/map.svg");
    background-repeat: no-repeat;
    display: inline-block;
    float: left;
    width: 8em;
    height: 15em;
  }
  #deer{
    background-image: url("img/deer.svg");
    background-repeat: no-repeat;
    display: block;
    float: left;
    width: 15em;
    height: 20em;
    margin-right: 2em;
    margin-top: 2em;
  }
  .right {
    padding: 1.618em;
    background-position: 110% 10%;
    background-size: 100% contain;
  }
  .left {
    padding: 1.618em;
    background-position: 110% 10%;
    background-size: 100% contain;
  }
}
@media only screen and (max-width: 750px) {
  #deer{
    display: none;
  }
}

@media only screen and (max-width: 690px) {
  h3{
    font-size: 1.3em;
  }
}

@media only screen and (max-width: 565px) {
  h3{
    font-size: 1.3em;
    margin: .5em;
  }
  .topBanner{
    height: 25em;
  }
  html {
    font-size: .6em;
  }
}

@media only screen and (max-width: 436px) {

  h3{
    font-size: 1em;
    margin: .3em;
  }
  .topBanner{
    height: 20em;
  }
  h2{
    font-size: 2em;
  }
  iframe{
    width: 95%;
  }
  #tinyBird{
    background-image: url("img/tattoo.svg");
    background-repeat: no-repeat;
    width: 10em;
    height: 10em;
    margin-left: 2em;
    margin-bottom: -5em;
    position: relative;
    top: -4em;
  }
  #tinyDeer{
    background-image: url("img/deer.svg");
    background-repeat: no-repeat;
    width: 10em;
    height: 10em;
    margin-left: 2em;
    margin-bottom: -5em;
    position: relative;
    top: -4em;
  }
}

@media only screen and (max-width: 376px) {
  h5{
    font-size: .8em;
    margin: .2em;
  }
  h2{
    font-size: 1.5em;
  }
}

@media only screen and (max-width: 321px) {
  h5{
    font-size: .8em;
    margin: .2em;
  }
  h3{
    font-size: .8em;
    margin: .2em;
  }
  h2{
    font-size: 1.5em;
  }
  .topBanner{
    height: 15em;
  }
  #map{
    background-image: url("img/map.svg");
    background-repeat: no-repeat;
    display: inline-block;
    float: left;
    width: 4em;
    height: 7em;
  }
  #tinyBird{
    width: 8em;
    height: 8em;
    margin-left: 1em;
    margin-bottom: -5em;
    position: relative;
    top: -4em;
  }
  #tinyDeer{
    width: 8em;
    height: 8em;
    margin-left: 1em;
    margin-bottom: -5em;
    position: relative;
    top: -4em;
  }
}
