body{
	background-color: #E8DDCB;
	padding: 0;
	margin: 0;
	font: Verdana;
	color: #036564;
	font-size: 16px;
}

h1{
	font-size: 30px;
	font-family: 'Roboto Condensed', sans-serif;
	color: #036564;
}

.intro{
	font-size: 20px;
	padding: 20px 0px;
}

.porto{
	padding: 20px 0;
}

.lead{
	color: #ff146c;
}

.circle{
	height: 200px;
	width: 200px;
	padding: 15px;
}

.circleResume{
	height: 170px;
	width: 170px;
	padding: 15px;
}


.circleBig{
	height: 300px;
	width: 300px;
	padding: 15px;
}

.galleryTitle{
	font-size: 140px;
	color:white;
}

.rowBeach{
 	background: url(images/river.jpg) no-repeat center center fixed;
 	 -webkit-background-size: cover;
  		-moz-background-size: cover;
 	 -o-background-size: cover;
 	 background-size: cover;
 	 height: 400px;
 	 color: white;
 	 font-size: 150px;
 	 font-family: 'Pacifico', cursive;
 	 text-align: center;
 	 padding: 5%;
 	 margin: 0;
}


.content{
	color: #031634;
}


.footerOne{
	background-color: #CDB380;
	height: 20px;
	margin-top: 10px;
}

.footerTwo{
	background-color: #036564;
	height: 30px;
}

.footerThree{
	background-color: #033649;
	height: 90px;
	text-align: center;
}

.socialMedia{
	padding-right: 10px;
	padding-top: 15px;
	margin-left: auto;
	margin-right: auto;
}


/* menu */

ul.nav{
	list-style: none;
	text-align: center;
	display: inline-block;
}

ul li {
	display: inline;
}

.topLinks{
	font-size: 50px;
	font-family: 'Pacifico', cursive;
	color: #033649;
}

#pacificColor{
	color: #033649;

}
